@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    font-family: 'NanumSquare', sans-serif;
    }
.card {
	position:relative;
	width: 100%;
	min-width: 1550px;
	height: 750px;
	min-height: 500px;
	margin-bottom: 0;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
	border: none;
	border-radius: 7px;
}

.form-container {
	position:absolute;
	width:100%;
    background-color: #FFFFFF;   
    border: none;
    padding: 0 30px; /* 양쪽으로 10px의 패딩을 추가 */
    margin-top: 70px;
}
/* ============= 버튼 ============== */
.btn-container {
	position:absolute;
	margin-top: -45px;
	margin-right: 30px;
	right:0;
  	display: flex;
  	justify-content: center;
  	align-items: center;
 	gap: 5px;
}
.btn-container .btn {
	border: 1px solid #76818d;
	color: #76818d;
	background-color: white;
	font-weight: 700;
}
.btn-container .btn:hover {
	color:white;
	background-color: #76818d;
	border: 1px solid #76818d;
}
/* =========== End 버튼 ============ */

/* ============= 캘린더 ============= */
/* 캘린더 타이틀 */
.form-container .calendar-group-title {
	position:absolute;
	width: 96%;
	margin-top: 0px;
	border-bottom: 1px solid #ced4da;
}
/* 캘린더 타이틀 텍스트 (생산계획표)*/
.form-container .calendar-group-title .calendar-group-title-text {
	position:absolute;
	margin-top: -40px;
	font-size: 25px;
	font-weight: 600;
}
/* 캘린더그룹 */
.calendar-group {
	position:absolute;
	width: 800px;
	height: 700px;
}
/* Main 캘린더 */
.calendar-group #calendar {
	margin-top: 30px;
	width: 800px;
	height: 600px;
	border-radius: 10px;
}
.fc-col-header-cell-cushion {
	color: #0d6efd;
}
.fc-daygrid-day-number {
	color: #0d6efd;
}

/* =========== End 캘린더 =========== */

/* ======= 주문내역 & 생산계획 공통 ====== */
.prodPlan-info {
	position: absolute;
	margin-top: 30px;
	margin-right: 30px; 
	width: 660px;
	height: 600px;
	right:0;
	border: 1px solid #ced4da;
	border-radius: 7px;
	padding: 20px;
}
.referenceCode-group {
	display: flex;
	align-items: center;
	width: 100%;
}

.referenceCode-prepend-text {
	margin-right: 10px;
	white-space: nowrap;
	font-size: 17px;
	font-weight: 600;
}

.referenceCode {
  height: 25px;
  border: 1px solid #ced4da;
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
  padding: 0 7px;
  font-size: 16px;
}
/* ======= End 주문내역 & 생산계획 공통 ====== */

/* ============= 주문내역 ============ */
#orderList-group {
	margin-top: 15px;
	width: 100%;
	height: 250px;
}
.orderList-title {
	width: 100%;
	height: 30px;
	border: 1px solid #76818d;
	background-color: #76818d;
	color: white;
	line-height: 1.8;
	padding: 0 7px;
	font-weight: 600;
}
.orderList-table {
	margin-top: 5px;
}
.orderList-table thead th{
	width: 100%;
	padding: 0 7px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 1px solid #ced4da;
}
.orderList-table thead th:first-child {
    width: 500px; /* 고객사 */
}
.orderList-table thead th:nth-child(2) {
    width: 45%; /* 제품명 */
}
.orderList-table thead th:last-child {
    width: 9%; /* 수량 */
}
/* =========== End 주문내역 ========== */

/* ============= 생산계획 ============ */
#prodPlanList-group {
	margin-top: 15px;
	width: 100%;
	height: 250px;
}
.prodPlanList-title {
	width: 100%;
	height: 30px;
	border: 1px solid #76818d;
	background-color: #76818d;
	color: white;
	line-height: 1.8;
	padding: 0 7px;
	font-weight: 600;
}
.prodPlanList-table {
	margin-top: 5px;
}
.prodPlanList-table thead th{
	width: 100%;
	padding: 0 7px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 1px solid #ced4da;
}
.prodPlanList-table thead th:first-child {
    width: 500px; /* 제품명 */
}
.prodPlanList-table thead th:nth-child(2) {
    width: 42%; /* 수량 */
}
.prodPlanList-table thead th:last-child {
    width: 12%; /* 작업일수 */
}

/* =========== End 생산계획 ========== */

/* ============ 등록 모달창 =========== */
.custom-modal-css  {
	max-width: 800px;
	min-width: 800px;
	margin-top: -20px;
}
.modal-content {
	padding: 0 15px;
}
/* 생산계획번호 */
.prodPlanNoInput {
	width: 400px;
}

/* 작업일수 */
.prodPlanWorkingDaysLabel {
	margin-left: 0;
}
.prodPlanWorkingDays {
	margin-left: -61px;
}
.prodPlanWorkingDaysInput {
	width: 100px;
}

/* 제품 등록 */
.form-control.productNameInput {
	width: 310px;
}
.btn.btn-secondary.productSelect {
	margin-left: 0px;
}
.prodCount-input-class {
	margin-left: -61px;
}
.prodCount-input {
	width: 100px;
}

/* 투입자재 등록 */
.form-control.productItemNameInput {
	width: 310px;
}
.prodItemCount-input-class {
	margin-left: -61px;
}
.prodItemCount-input {
	width: 100px;
}

.col-form-label {
	font-weight: 600;
}
/* 투입자재리스트 */
.prodItem {
	height: 150px;
	width: 610px;
	margin-top: -2px;
	margin-left: 127px;
	border: 1px solid #dee2e6;
	border-radius: 7px;
	text-align: center;
	display: flex;
    flex-direction: column;
    overflow-y: auto;
}
/* ========== End 등록 모달창 ========= */

/* ========= 제품 품목선택 모달창 ======== */
.custom-nestedModal-css {
	max-width: 800px;
	min-width: 800px;
	margin-top: 100px;
	max-height: 500px;
	min-height: 500px;
	overflow-y: auto
}
.select-container {
	margin-top: 5px;
}
.select2-selection__clear {
    color: red;
}

.select2-container .select2-selection--single {
    max-width: 160px !important;
    min-width: 160px !important;
}

/* ====== End 제품 품목선택 모달창 ======= */

/* ======= 투입자재 품목선택 모달창 ======= */
/* 모달 내부의 스크롤을 방지하고, Select2 드롭다운만 스크롤되도록 설정 */
.select2-dropdown {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 160px;
    white-space: nowrap;
}
.select2-results__options {
	display: inline-block;
    min-width: 100%;
    max-height: 150px !important;
    overflow-y: hidden !important;
}

/* ===== End 투입자재 품목선택 모달창 ===== */
