@import
	url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css')
	;

body {
	font-family: 'NanumSquare', sans-serif;
}

.card {
	position: relative;
	width: 100%;
	min-width: 1350px;
	height: 750px;
	min-height: 500px;
	margin-bottom: 0;
	border-radius: 7px;
}

.form-container {
	position: absolute;
	width: 100%;
	background-color: #FFFFFF;
	border: none;
	padding: 0 30px; /* 양쪽으로 10px의 패딩을 추가 */
	margin-top: 70px;
}
/* ============= 버튼 ============== */
.btn-container {
	position: absolute;
	margin-top: -50px;
	margin-right: 30px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.btn-container .btn {
	border: 1px solid #76818d;
	color: #76818d;
	background-color: white;
	font-weight: 700;
}

.btn-container .btn:hover {
	color: white;
	background-color: #76818d;
	border: 1px solid #76818d;
}
/* 색상 변경 */
.colorPicker-btn {
	font-size: 14px;
	font-weight: 700;
	padding: 8px;
}
/* =========== End 버튼 ============ */

/* ======= 주문내역 & 생산계획 공통 ====== */
@media (max-width: 800px) {
    .prodPlan-info {
        min-width: 400px;  
        width: 100%;
    }
}
.prodPlan-info {
    position: static; 
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 30px;
    height: 600px;
    border: 1px solid #ced4da;
    border-radius: 7px;
    padding: 20px;
    flex: 1; 
}

.referenceDate-group {
	display: flex;
	align-items: center;
	width: 100%;
}

.referenceDate-prepend-text {
	margin-right: 10px;
	white-space: nowrap;
	font-size: 17px;
	font-weight: 600;
}

.referenceDate {
	height: 25px;
	border: 1px solid #ced4da;
	flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
	padding: 0 7px;
	font-size: 16px;
}
/* ======= End 주문내역 & 생산계획 공통 ====== */


/* ============= 캘린더 ============= */
/* 캘린더그룹 */
.calendar-group {
    display: flex;
    width: 100%;
    height: 600px;
}
/* Main 캘린더 */
.calendar-group #calendar {
    margin-top: 30px;
    width: 800px;  /* 캘린더가 남은 공간을 모두 사용하도록 설정 */
    height: 100%;
}

/* 캘린더 타이틀 */
.form-container .calendar-group-title {
	position: absolute;
	width: 98%;
	margin-top: 0px;
	margin-left: -15px;
	border-bottom: 1px solid #ced4da;
}

/* 일요일 빨간색 */
.fc-day-sun a {
	color: red;
}
/* 토요일 파란색 */
.fc-day-sat a {
	color: blue;
}
/* 캘린더 타이틀 텍스트 (생산계획표)*/
.form-container .calendar-group-title .calendar-group-title-text {
	position: absolute;
	margin-top: -51px;
	margin-left: 1px;
	font-size: 20px;
	font-weight: 600;
}

.fc-scroller {
	overflow-y: auto !important;
	overflow-x: auto !important;
}

.fc-scrollgrid-sync-table {
	width: 800px;
	height: 600px;
}

.fc-col-header-cell-cushion {
	color: black;
}

.fc-daygrid-day-number {
	color: black;
}
/* 캘린더 막대 css */
.fc-event-title-container {
	margin-left: 10px;
	height: 20px; /* 이벤트 막대 높이 조정 */
	font-size: 12px; /* 이벤트 제목 글꼴 크기 조정 */
	cursor: default !important;
}

.event-title {
	margin-left: 1px;
	position: relative;
}

.colorPicker-group {
	position: relative;
	top: 30px;
	margin-top: -600px;
	margin-left: 550px;
	width: 95px;
}
/* 막대 셀 스타일 */
.clicked-cell-style {
	color: skyblue !important;
}
/* 셀에만 적용되는 클래스에 cursor: pointer를 설정 */
.clicked-cell-style {
	cursor: pointer;
}
/* 막대 호버시 툴팁창 */
.event-tooltip {
	width: auto;
	max-width: 300px;
	height: auto;
	background-color: rgba(0, 0, 0, 0.7);
	border: 2px solid #0d6efd;
	border-radius: 5px;
	padding: 15px;
	font-weight: 500;
	color: white;
	z-index: 999;
	overflow: hidden; /* 텍스트가 넘칠 경우 숨김 처리 */
	white-space: nowrap;
	color: white; /* 텍스트가 한 줄로 유지되도록 함 */
}

.event-tooltip p {
	margin: 0; /* 문단 간격 제거 */
	margin-bottom: 5px; /* 문단 아래 여백 */
	text-overflow: ellipsis; /* 넘치는 텍스트에 대해 "..."으로 대체 */
	overflow: hidden;
	font-size: 14px !important;
}

.tooltip-title {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
	color: #5598f4;
}

.tooltip-section-title {
	color: #5598f4;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 5px;
}

.prod-info {
	border: 1px solid #5598f4;
	padding: 10px;
	border-radius: 5px;
}

.material-info {
	border: 1px solid #5598f4;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}
/* 툴팁 스위치 온오프 */
.tooltip-switch-container {
	position: absolute;
	height: 70px;
	margin-left: 500px;
	margin-top: -20px;
}
.form-check-label {
	margin-left: -35px;
	margin-top: 10px;
	color: black;
	font-weight: 600;
	font-size: 14px;
}
.form-check-input {
	margin-top: 30px;
	width: 40px !important;
	height: 20px !important;
}
/* =========== End 캘린더 =========== */


/* ============= 주문내역 ============ */
#orderList-group {
	margin-top: 15px;
	width: 100%;
	height: 250px;
}

.orderList-title {
	width: 100%;
	height: 30px;
	border: 1px solid #76818d;
	background-color: #76818d;
	color: white;
	line-height: 1.8;
	padding: 0 7px;
	font-weight: 600;
}

.orderList-table {
	margin-top: 5px;
}

.orderList-table thead th {
	width: 100%;
	padding: 0 7px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 1px solid #ced4da;
}

.orderList-table thead th:first-child {
	width: 500px; /* 고객사 */
}

.orderList-table thead th:nth-child(2) {
	width: 40%; /* 제품명 */
}

.orderList-table thead th:last-child {
	width: 17%; /* 수량 */
}

.orderList-item td {
	padding: 0 7px;
}
/* =========== End 주문내역 ========== */

/* ============= 생산계획 ============ */
#prodPlanList-group {
	margin-top: 15px;
	width: 100%;
	height: 250px;
}

.prodPlanList-title {
	width: 100%;
	height: 30px;
	border: 1px solid #76818d;
	background-color: #76818d;
	color: white;
	line-height: 1.8;
	padding: 0 7px;
	font-weight: 600;
}

.prodPlanList-table {
	margin-top: 5px;
}

.prodPlanList-table thead th {
	width: 100%;
	padding: 0 7px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 1px solid #ced4da;
}

.prodPlanList-table thead th:first-child {
	width: 500px; /* 제품명 */
}

.prodPlanList-table thead th:nth-child(2) {
	width: 40%; /* 수량 */
}

.prodPlanList-table thead th:last-child {
	width: 17%; /* 작업일수 */
}

.prodPlanList-item td {
	padding: 0 7px;
}
/* =========== End 생산계획 ========== */

/* ============ 등록 모달창 =========== */
.insert-modal-css .modal-content {
	max-width: 800px;
	min-width: 800px;
	max-height: 700px;
	min-height: 700px;
	margin-top: -20px;
	margin-left: -150px;
}

.modal-content {
	padding: 0 15px;
}
/* 주문번호 */
.oderCodeInput {
	width: 305px;
}
/* 담당자 */
.productEmpInput {
	width: 100px;
	margin-left: -60px;
	border: 1px solid #dee2e6;
}
.productEmpInput:focus {
	border: 1px solid #dee2e6;
	box-shadow: none;
}
.productEmpLabel {
	margin-left: -1px;
}
/* 생산시작일자 */
.productStartDateInput {
	width: 401px;
}
/* 생산완료일자 */
.productEndDateInput {
	width: 401px;
}
/* 작업일수 */
.prodPlanWorkingDaysLabel {
	margin-left: -15px;
	margin-right: 15px;
}

.prodPlanWorkingDays {
	margin-left: -61px;
}

.prodPlanWorkingDaysInput {
	width: 100px;
}

/* 제품 등록 */
.form-control.productNameInput {
	width: 510px;
}

.btn.btn-primary.productSelect {
	margin-left: 16px;
}
/* 생산 수량 */
.prodCount {
	margin-left: 111px;
	margin-right: -111px;
}

.prodCount-input-class {
	margin-left: -61px;
}

.prodCount-input {
	width: 100px;
	margin-left: 0px;
}

.prodCount-text {
	margin-top: 30px;
	margin-left: 85px;
	font-weight: 700;
}
/* 투입자재 등록 */
.form-control.productItemNameInput {
	width: 310px;
}

.prodItemCount-input-class {
	margin-left: -61px;
}

.prodItemCount-input {
	width: 100px;
}

.col-form-label {
	font-weight: 600;
}
/* 투입자재리스트 */
.prodItem {
	height: 150px;
	width: 610px;
	margin-top: -2px;
	margin-left: 127px;
	border: 1px solid #dee2e6;
	border-radius: 7px;
	text-align: center;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
/* 분류된 자재 리스트 상단바 */
.prodItem-bar {
	width: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f9f9;
	border-bottom: 1px solid #dddddd;
	height: 30px;
}

.prodItem-list {
	list-style-type: none; /* 불릿 포인트(li 앞에 점) 제거 */
	padding: 0 10px;
	font-size: 15px;
}

.prodItem-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px; /* 항목 사이의 여백 */
	padding: 0, 10px;
}

.delete-selected-material {
	cursor: pointer;
	color: red;
	margin-right: 10px;
}

/* ========== End 등록 모달창 ========= */

/* ========= 제품 품목선택 모달창 ======== */
.custom-nestedModal-css .modal-content {
	max-width: 800px;
	min-width: 800px;
	max-height: 700px;
	min-height: 700px;
	margin-top: -20px;
	margin-left: -150px;
}

.select-container {
	margin-top: 5px;
}

.select2-selection__clear {
	color: red;
}
/* 제품 대 중 소 셀렉트박스 */
.select2-container .select2-selection--single {
	max-width: 170px !important;
	min-width: 170px !important;
	max-height: 35px !important;
	min-height: 35px !important;
	font-size: 14px;
}

.select2-selection__rendered {
	line-height: 35px !important;
}

.select2-selection__arrow {
	max-height: 35px !important;
	min-height: 35px !important;
}

.select2-selection__arrow b {
	margin-top: -3px !important;
}

.select2-results__option {
	font-size: 14px;
}

.category-search-list-container {
	margin-top: 15px;
}
/* ====== End 제품 품목선택 모달창 ======= */

/* ======= 투입자재 품목선택 모달창 ======= */
/* 모달 내부의 스크롤을 방지하고, Select2 드롭다운만 스크롤되도록 설정 */
/* 적용 안되는 중 */
.custom-nestedItemModal-css .modal-content {
	max-width: 800px;
	min-width: 800px;
	max-height: 700px;
	min-height: 700px;
	margin-top: -20px;
	margin-left: -150px;
}
/* 분류된 투입자재 항목 개수 */
.prodPlanItemCount {
	margin-left: -10px;
}

.prodPlanItemCountLabel {
	font-weight: 600;
}

.prodPlanItemCountInput {
	margin-top: -6px;
}
/* 투입자재 가격 총액 */
.prodPlanItemTotalPrice {
	margin-left: -270px;
}

.prodPlanItemTotalPriceLabel {
	font-weight: 600;
}

.prodPlanItemTotalPriceInput {
	margin-top: -6px;
}
/* 리스트 체크박스 */
.checkbox-center {
	text-align: left;
}
/* 분류 셀렉트박스 */
.select2-dropdown {
	max-height: 160px;
	overflow-y: auto;
	overflow-x: hidden;
}

.select2-results__options {
	max-height: none !important;
	overflow-y: visible !important; /* 내부스크롤 비활성화 */
}

.select2-results__option {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}

/* 분류 리스트 셀 너비 */
.prodPlanItem-name {
	width: 350px;
}

.prodPlanItem-price {
	width: 120px;
}
/* ===== End 투입자재 품목선택 모달창 ===== */

/* ========= 주문번호 선택 모달창 ======== */
#oderModal .custom-oderModal-css .modal-content {
	max-width: 800px;
	min-width: 800px;
	max-height: 700px;
	min-height: 700px;
	margin-top: -20px;
}

.input-group-text.date {
	width: 50px;
	height: 50px;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

#dateIcon {
	margin-left: 5px;
}

#orderListTable {
	font-size: 13px;
	margin-top: 10px;
}

#orderListTable tbody {
	display: block;
	max-height: 400px;
	overflow-y: scroll;
}

#orderListTable thead, #orderListTable tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#orderListTable thead th:first-child, #orderListTable tbody td:first-child
	{
	width: 60px;
}

#orderListTable thead th:nth-child(2), #orderListTable tbody td:nth-child(2)
	{
	width: 150px;
}
#orderListTable thead th:nth-child(3), #orderListTable tbody td:nth-child(3)
	{
	width: 180px;
}
#orderListTable tbody td, #orderListTable thead th {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.modal-footer.oderModal {
	padding: 0px 3px;
}

.oderModal-search {
	width: 250px;
	margin-right: 374px;
	margin-top: 17px;
}

.oderModal-search-input {
	width: 100%;
}
/* ======= End 주문번호 선택 모달창 ======= */
/* ======= 수정 모달창 ======= */
.insert-modal-css-update .modal-content {
	max-width: 800px;
	min-width: 800px;
	max-height: 700px;
	min-height: 700px;
	margin-top: -20px;
	margin-left: -150px;
}
/* 주문번호 */
.oderCodeInput-update {
	width: 400px;
	border: none;
	border-bottom: 1px solid #dee2e6;
}

.oderCodeInput-update:focus {
	border: 1px solid transparent;
	box-shadow: none;
}
/* 작업일수 */
.prodPlanWorkingDaysLabel-update {
	margin-left: 115px;
}

.prodPlanWorkingDaysInput-update {
	margin-left: -48px;
	width: 100px;
}
/* 담당자 */
.productEmpInput-update {
	margin-left: -60px;
	width: 100px;
	border: none;
	border-bottom: 1px solid #dee2e6;
}

.productEmpInput-update:focus {
	border: 1px solid transparent;
	box-shadow: none;
}
/* 시작예정일자 */
.productStartDateInput-update {
	width: 400px;
}
/* 완료예정일자 */
.productEndDateInput-update {
	width: 400px;
}
/* 생산수량 */
.prodCount-update {
	margin-left: -14px;
}

.prodCount-input-update {
	margin-left: -47px;
	width: 100px;
}
/* 제품 */
.productNameInput-update {
	border: none;
	border-bottom: 1px solid #dee2e6;
	border-radius: 0;
}

.productNameInput-update:focus {
	border: 1px solid transparent;
	box-shadow: none;
}
/* 투입자재 */
.prodItem-update {
	height: 150px;
	width: 610px;
	margin-top: -2px;
	margin-left: 127px;
	border: 1px solid #dee2e6;
	border-radius: 7px;
	text-align: center;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
/* 분류된 자재 리스트 상단바 */
.prodItem-bar-update {
	width: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f9f9;
	border-bottom: 1px solid #dddddd;
	height: 30px;
}
/* 분류된 자재 리스트 */
.prodItem-list-update {
	list-style-type: none; /* 불릿 포인트(li 앞에 점) 제거 */
	padding: 0 10px;
	font-size: 15px;
}

.prodItem-list-update li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px; /* 항목 사이의 여백 */
	padding: 0, 10px;
}
/* 등록되어있는 기존 투입자재 */
.material-remove {
	cursor: pointer;
	color: red;
	margin-right: 10px;
}
/* 수정 신규 투입자재 */
.remove-material {
	cursor: pointer;
	color: red;
	margin-right: 10px;
}
/* ========= 상세 모달창 ========== */
.insert-modal-css-read .modal-content {
	max-width: 800px;
	min-width: 800px;
	max-height: 700px;
	min-height: 700px;
	margin-top: -20px;
	margin-left: -150px;
}

/* 주문번호 */
.oderCodeInput-read {
	width: 400px;
	border: none;
	border-bottom: 1px solid #dee2e6;
}

.oderCodeInput-read:focus {
	border: none;
	border-bottom: 1px solid #dee2e6;
	box-shadow: none;
}
/* 작업일수 */
.prodPlanWorkingDaysLabel-read {
	margin-left: 115px;
}

.prodPlanWorkingDaysInput-read {
	margin-left: -48px;
	width: 100px;
	border: none;
	border-bottom: 1px solid #dee2e6;
}

.prodPlanWorkingDaysInput-read:focus {
	border: none;
	border-bottom: 1px solid #dee2e6;
	box-shadow: none;
}
/* 담당자 */
.productEmpInput-read {
	margin-left: -60px;
	width: 100px;
	border: none;
	border-bottom: 1px solid #dee2e6;
}

.productEmpInput-read:focus {
	border: none;
	border-bottom: 1px solid #dee2e6;
	box-shadow: none;
}
/* 시작예정일자 */
.productStartDateInput-read {
	width: 400px;
	border: none;
	border-bottom: 1px solid #dee2e6;
}
.productStartDateInput-read:focus {
	border: none;
	border-bottom: 1px solid #dee2e6;
	box-shadow: none;
}
/* 완료예정일자 */
.productEndDateInput-read {
	width: 400px;
	border: none;
	border-bottom: 1px solid #dee2e6;
}
.productEndDateInput-read:focus {
	border: none;
	border-bottom: 1px solid #dee2e6;
	box-shadow: none;
}
/* 생산수량 */
.prodCount-read {
	margin-left: -14px;
}

.prodCount-input-read {
	margin-left: -47px;
	width: 100px;
	border: none;
	border-bottom: 1px solid #dee2e6;
}
.prodCount-input-read:focus {
	border: none;
	border-bottom: 1px solid #dee2e6;
	box-shadow: none;
}
/* 제품 */
.productNameInput-read {
	border: none;
	border-bottom: 1px solid #dee2e6;
	border-radius: 0;
}

.productNameInput-read:focus {
	border: none;
	border-bottom: 1px solid #dee2e6;
	box-shadow: none;
}

/* 투입자재 */
.prodItem-read {
	height: 150px;
	width: 610px;
	margin-top: -2px;
	border: 1px solid #dee2e6;
	border-radius: 7px;
	text-align: center;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
/* 분류된 자재 리스트 상단바 */
.prodItem-bar-read {
	width: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f9f9; border-bottom : 1px solid #dddddd;
	height: 30px;
	border-bottom: 1px solid #dddddd;
}

.prodItem-list-read {
	list-style-type: none; /* 불릿 포인트(li 앞에 점) 제거 */
	padding: 0 10px;
	font-size: 15px;
}

.prodItem-list-read li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px; /* 항목 사이의 여백 */
	padding: 0, 10px;
}
.remark-read:focus {
	box-shadow: none;
	border: 1px solid #dee2e6;
}
/* 수정 투입자재 개수 인풋 */
.material-quantity {
	max-width: 100px;
	min-width: 100px;
	max-height: 40px;
	min-height: 40px;
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: -20px;
}
.material-quantity-input {
	border: 1px solid #dee2e6;
	border-radius: 5px;
	padding-left: 5px;
}
.material-code {
	margin-left: 60px;
	margin-top: 4px;
}
