<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aselcni.psaMapper">

	<select id="TTTTTTTTTTTpsaGetPlanList" parameterType="PsaProdPlan" resultType="PsaProdPlan">
		SELECT *
		FROM TB_PRODPLAN tp , TB_ITEMMST ti , TB_USERMST tu
		WHERE tp.ITEM_CD = ti.ITEM_CD
		AND tp.PRODPLAN_EMP_ID = tu.USER_ID
		AND tp.PRODPLAN_DT >= CONVERT (DATE, CONVERT(CHAR(10), #{prodplan_dt}, 23))
		AND tp.PRODPLAN_DELETE_CHK = 0
	</select>

	<select id="XXXXXXXXXXXXXpsaGetPlanList" parameterType="PsaProdPlan" resultType="PsaProdPlan">
		SELECT *
		FROM TB_PRODPLAN tp , TB_ITEMMST ti , TB_USERMST tu
		WHERE tp.PRODPLAN_DELETE_CHK = 0
		AND tp.PRODPLAN_NO NOT IN (SELECT tw.PRODPLAN_NO FROM TB_WORKPROD tw)
		AND tp.ITEM_CD = ti.ITEM_CD
		AND tp.PRODPLAN_EMP_ID = tu.USER_ID
	</select>
	
	<select id="psaGetPlanList" parameterType="PsaProdPlan" resultType="PsaProdPlan">
		SELECT *, dbo.WorkProdSum(tp.PRODPLAN_NO) AS 'work_total_qty'
		FROM TB_PRODPLAN tp , TB_ITEMMST ti , TB_USERMST tu
		WHERE tp.PRODPLAN_DELETE_CHK = 0
		AND tp.QTY > dbo.WorkProdSum(tp.PRODPLAN_NO)
		AND tp.ITEM_CD = ti.ITEM_CD
		AND tp.PRODPLAN_EMP_ID = tu.USER_ID
	</select>

	<select id="psaGetWorkList" parameterType="PsaWorkProd" resultType="PsaWorkProd">
		SELECT *
		FROM TB_WORKPROD tw , TB_ITEMMST ti , TB_USERMST tu
		WHERE tw.ITEM_CD = ti.ITEM_CD
		AND tw.WORKPROD_EMP_ID = tu.USER_ID
		AND tw.WORKPROD_DT = #{workprod_dt}
		AND tw.WORKPROD_DELETE_CHK = 0
	</select>

	<select id="TTTTTTTTTpsaGetWorkList" parameterType="PsaWorkProd" resultType="PsaWorkProd">
		SELECT *
		FROM TB_WORKPROD tw , TB_ITEMMST ti , TB_USERMST tu
		WHERE tw.WORKPROD_DELETE_CHK = 0
		AND tw.WORKPROD_DT >= CONVERT (DATE, CONVERT(CHAR(10), #{workprod_dt}, 23))
		AND tw.ITEM_CD = ti.ITEM_CD
		AND tw.WORKPROD_EMP_ID = tu.USER_ID
	</select>
	
	<select id="psaGetProcList" resultType="PsaWorkProc">
		SELECT *
		FROM TB_PROCMST tp 
		WHERE tp.USE_FLAG = 1
			AND tp.PROC_DELETE_CHK = 0
	</select>
	
	<select id="psaGetBigList" resultType="PsaItem">
		SELECT *
		FROM TB_TYPE_BIG ttb
	</select>
	
	<select id="psaGetMidList" resultType="PsaItem">
		SELECT *
		FROM TB_TYPE_MID ttm 
		WHERE ttm.BIG_NO = #{big_no}
	</select>
	
	<select id="psaGetSmlList" resultType="PsaItem">
		SELECT *
		FROM TB_TYPE_SML tts 
		WHERE tts.BIG_NO = #{big_no}
			AND tts.MID_NO = #{mid_no}
	</select>
	
	<select id="psaGetItemList" resultType="PsaItem">
		SELECT *
		FROM TB_ITEMMST ti 
		WHERE ti.BIG_NO = #{big_no}
			AND ti.MID_NO = #{mid_no}
			AND ti.SML_NO = #{sml_no}
	</select>

	<select id="psaGetWorkProd" parameterType="PsaWorkProd" resultType="PsaWorkProd">
		SELECT *
		FROM TB_WORKPROD tw , TB_ITEMMST ti , TB_USERMST tu
		WHERE tw.WORKPROD_NO = #{workprod_no}
		AND tw.WORKPROD_DELETE_CHK = 0
		AND tw.ITEM_CD = ti.ITEM_CD
		AND tw.WORKPROD_EMP_ID = tu.USER_ID
	</select>

	<select id="psaGetWorkProcList" parameterType="PsaWorkProd" resultType="PsaWorkProc">
		SELECT *
		FROM TB_WORK_PROC twp , TB_PROCMST tp
		WHERE twp.WORKPROD_NO = #{workprod_no}
		AND twp.PROC_CD = tp.PROC_CD
	</select>

	<select id="psaGetWorkItemList" parameterType="PsaWorkProd" resultType="PsaWorkItem">
		SELECT *
		FROM TB_WORK_ITEM twi , TB_ITEMMST ti
		WHERE twi.WORKPROD_NO = #{workprod_no}
		AND twi.ITEM_CD = ti.ITEM_CD
	</select>

	<select id="psaGetPlan" parameterType="PsaProdPlan" resultType="PsaProdPlan">
		SELECT *
		FROM TB_PRODPLAN tp, TB_USERMST tu , TB_ITEMMST ti 
		WHERE tp.PRODPLAN_NO = #{prodplan_no}
			AND tp.PRODPLAN_EMP_ID = tu.USER_ID 
			AND tp.ITEM_CD = ti.ITEM_CD
	</select>
	
	<select id="psaGetPlanItemList" parameterType="PsaProdItem" resultType="PsaProdItem">
		SELECT *
		FROM TB_ITEM_PROD tip , TB_ITEMMST ti
		WHERE tip.PRODPLAN_NO = #{prodplan_no}
		AND tip.ITEM_CD = ti.ITEM_CD
	</select>
	
	<select id="psaGetPK" resultType="String">
		SELECT CONCAT('WPR', 
								CONVERT(CHAR(6), GETDATE(), 12),
								(SELECT FORMAT(COUNT(tw.WORKPROD_NO) + 1, '0000')
									FROM TB_WORKPROD tw 
									WHERE tw.WORKPROD_NO LIKE 'WPR'+ CONVERT(CHAR(6), GETDATE(), 12) +'%'))
	</select>
	
	<insert id="psaInsertWorkProd" parameterType="PsaWorkProd">
		INSERT INTO TB_WORKPROD (WORKPROD_NO, WORKPROD_DT, SEQ_NO, ITEM_CD, QTY, WORK_DT, PRODPLAN_NO, WORK_CMD, REMARK, WORKPROD_EMP_ID, WORKPROD_UPDATE, WORKPROD_DELETE_CHK)
		VALUES (
						#{workprod_no}, 
						#{workprod_dt}, 
						(SELECT COUNT(tw.SEQ_NO)+1
							FROM TB_WORKPROD tw 
							WHERE tw.PRODPLAN_NO = #{prodplan_no}),
						#{item_cd},
						#{qty},
						#{work_dt},
						#{prodplan_no},
						#{work_cmd},
						#{remark},
						#{workprod_emp_id},
						#{workprod_update},
						#{workprod_delete_chk}
					)
	</insert>
	
	<insert id="psaInsertWorkProc" parameterType="PsaWorkProc">
		INSERT INTO TB_WORK_PROC (WORKPROD_NO, PROC_CD)
		VALUES (#{workprod_no}, #{proc_cd})
	</insert>
	
	<insert id="psaInsertWorkItem" parameterType="PsaWorkItem">
		INSERT INTO TB_WORK_ITEM (WORKPROD_NO, ITEM_CD, IN_QTY, COST)
		VALUES (
						#{workprod_no}, 
						#{item_cd}, 
						#{in_qty}, 
						(SELECT ti.ITEM_COST 
						FROM TB_ITEMMST ti 
						WHERE ti.ITEM_CD = #{item_cd})
					)
	</insert>
	
	<update id="psaUpdateWork" parameterType="PsaWorkProd">
		UPDATE TB_WORKPROD 
		SET REMARK = #{remark}, WORKPROD_UPDATE = #{workprod_update}
		WHERE WORKPROD_NO = #{workprod_no}
	</update>

</mapper>